.accordian {
    max-height: 100%;
    width: 1200px;
    margin: 0 auto; 
    padding: 20px;
    margin-bottom: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: white; 
    border-radius: 8px; 
}
.acco{
    margin-left: 162px;
    margin-top: 50px;
    margin-bottom: 30px;
}




@media (max-width: 1024px) {
    .accordian {
        width: 95%; 
        padding: 15px;
    }

    .acco {
        margin-left: 0; 
        text-align: center;
    }
}

@media (max-width: 768px) {
    .accordian {
        width: 100%;
        padding: 10px;
    }

    .acco {
        font-size: 19px; 
    }
}
